{% extends "base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Game:schedule{% endblock %}

{% block body %}
{{ form(form) }}
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition} )  }}"class="btn btn-primary" role="button"  >Administration</a>
{% endblock %}
