{% extends "base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Coach:Delete{% endblock %}

{% block body %}
{% if form.delete is defined %}
      &Ecirc;tes-vous s&ucirc;r de vouloir effacer le coach : {{ coach.name }}  ({{coach.id}}) ?
{% endif %}
{{ form(form) }}
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':coach.edition} )  }}"class="btn btn-primary" role="button"  >Administration</a>
{% endblock %}
