{% extends "base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Edition:Add{% endblock %}

{% block body %}
{{ form(form) }}
<a href="{{ path('fantasy_football_tournament_admin_main' )  }}"class="btn btn-primary" role="button"  >Administration</a>
{% endblock %}
